body {
    background-color: #262a2d;
}

#container-login {
border-radius: 35px 35px 35px 35px;
-moz-border-radius: 35px 35px 35px 35px;
-webkit-border-radius: 35px 35px 35px 35px;
border: 3px solid rgba(203,96,179,1);;
width: 600px;
height: 650px;
margin: auto;
margin-top: 100px;

}


@media (max-width: 500px) {
    #container-login {
        border-radius: 35px 35px 35px 35px;
        -moz-border-radius: 35px 35px 35px 35px;
        -webkit-border-radius: 35px 35px 35px 35px;
        border: 3px solid #ffffff;
        width: auto;
        height: 600px;
        margin: auto;
        margin-top: 100px;

    }
}
